body {
  padding:0;
  font-family: "museo-sans",sans-serif;
  font-size:15px;
  color:#474747;
}

/* GLOBAL STYLES */

.blue-bg {
  background:#004798;
  color:#fff;
}

.red-bg {
  background:#e63322;
  color:#fff;
}

.yellow-bg {
  background:#eab500;
  color:#fff;
}

.purple-bg {
  background:#814896;
  color:#fff;
}

.center {
  text-align:center;
}

.content-padding-md {

}

.content-padding-sm {

}

.padding-tb {
  padding:40px 0
}

@media (min-width:1200px) {
  .padding-tb {
    padding:80px 0
  }
}

.padding-tb-sm {
  padding:40px 0
}

.btn-primary {
  background:#004798;
  border:0;
}

.btn-cta {
  font-size:28px;
  font-weight:100;
}

.btn-white {
  background:rgba(255,255,255,0.5);
  transition:background 0.2s ease;
  font-weight:700;
  padding:12px 0;
}

.btn-lg {
  font-weight:500;
  font-size:16px;
}

.btn-white:hover {
  background:rgba(255,255,255,0.3);
}

section .head {
  background:#ebebeb;
}

section .head h2 {
  margin:0;
  padding:35px 15px;
  text-align:center;
  font-weight:300;
  font-size:26px;
  color:#626262;
}

@media (min-width:768px){
  section .head h2 {
    font-size:32px;
  }
}

.placeholder {
  text-align:center;
  padding:60px 0;
}

.margin-bottom {
  margin-bottom:25px;
}

@media (min-width:768px) and (max-width:991px) {
  .col-20 {
    width:50%;
    float:left;
    padding-left:15px;
    padding-right:15px;
    min-height:1px;
  }

  .col-20:nth-child(odd) {
    clear:both;
  }
}

@media (min-width:992px) {
  .col-20 {
    width:20%;
    float:left;
    padding-left:15px;
    padding-right:15px;
    min-height:1px;
  }

  .col-20:nth-of-type(6n) {
    clear:both;
  }
}

@media (min-width:1200px) {
  .col-20 {
    width:20%;
    float:left;
    padding-left:15px;
    padding-right:15px;
    min-height:1px;
  }
}

@media (min-width:992px) {
  .border-right {
    border-right:2px solid #f3f3f3;
  }
}

@media (max-width:992px) {
  section#products .col-md-2, section#products .col-md-4 {
    height:auto!important;
    display:block!important;
  }
  .vertical-center {
    display:block!important;
  }
}

/* END GLOBAL STYLES */

@media (max-width:768px) {
  nav.nav {
    margin-top:20px;
  }
  nav.nav ul.nav li p{
    border-bottom:0 !important;
    margin:0;
    padding:0 5px;
  }
  nav.nav ul.nav li a {
    padding:10px 0 10px 0 !important;
  }
  nav.nav ul.nav li a:hover{
    color:#004798 !important;
  }
}

ul.nav li{
  display:inline-block;
  position:relative;
}

ul.nav.secondary {
  position:absolute;
  right:0;
}

#contact-head {
  height:44px;
}

#login-head ul {
  position:relative;
  left:-15px;
}

@media (min-width:992px) {
  ul.nav li{
    position:static;
    float:none;
  }
  
  ul.nav.secondary li{
    position:relative;
    right:-45px;
  }
}

@media (min-width:992px) {
  ul.nav.secondary{
    position:absolute;
    right:45px;
  }
} 

.blue-bg ul.nav li a {
  color:#fff;
  font-weight:500;
  font-size:17px;
}

header .blue-bg ul.nav li a {
  color:#a5bedb;
  transition:background 0.3s ease, color 0.3s ease;
  padding:11px 6px;
  font-size:16px;
}

@media (min-width:992px) {
  header .blue-bg ul.nav li a {
    padding:10px 15px;
    font-size:17px;
  }
}

header .blue-bg ul.nav li a:hover {
  background:#4E8BD1;
  color:#fff;
}

#logo-nav {
  margin:40px auto;
}

#logo {
  display:block;
}

#logo img {
  width:200px;
}

@media (min-width:450px){
  #logo img {
    width:250px;
  }
}

@media (min-width:768px){
  #logo img {
    width:100%;
  }
}

@media (min-width:992px) {
  #logo-nav ul.nav  {
    position:absolute;
    right:15px;
    width:85%;
  }
}

@media (min-width:1200px) {
  #logo-nav ul.nav  {
    width:80%;
  }
}

@media (min-width:992px) {
  #logo-nav ul.nav li {
    margin-right:4.836%;
  }

  #logo-nav ul.nav li:last-child {
    margin-right:0;
  }
}

@media (min-width:1200px) {
  #logo-nav ul.nav li {
    margin-right:6.24%;
  }
}

#logo-nav ul.nav li p {
  border-bottom:5px solid #ebebeb;
  transition:border 0.2s ease;
}

#logo-nav ul.nav li p:hover {
  border-bottom:5px solid #004798;
}

#logo-nav ul.nav li p a{
  display:block;
  padding:30px 0 5px 0;
  color:#626262;
}

#logo-nav ul.nav li p a{
  text-decoration:none;
}

.navbar-toggle {
  position:absolute;
  right:0;
  top:0px;
  color:#004798;
  font-weight:700;
  text-transform:uppercase;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: #004798;
}

@media (min-width:480px) {
  .navbar-toggle {
    top:10px;
  }
}

#world {
  text-align:center;
  position:relative;
  padding:25px 0;
  background:url('../../images/world.jpg') top center no-repeat;
}

@media (min-width:480px) {
  #world {
    padding:50px 0;
  }
}

@media (min-width:992px) {
  #world {
    padding:100px 0;
    background:none;
  }
}

@media (min-width:1200px) {
  #world {
    padding:200px 0;
  }
}

#video-background {
  position:absolute;
  left:0;
  top:0;
  z-index:-1000;
  width:100%;
}

#video-background video {
  width:100%;
}

#world h1 {
  color:#fff;
  font-weight:500;
  margin-top:0;
  font-size:40px;
}

#world p {
  color:#fff;
  font-size:23px;
  font-weight:300;
  margin:20px 0 30px;
}

@media (min-width:768px) {
  #world h1 {
    font-size:50px;
  }
  #world p {
    font-size:28px;
    margin:20px 0 60px;
  }
}

section#solutions {
  background:#fff;
}

section#products h3 {
  font-size:32px;
  font-weight:500;
}

section#products div.col-md-6, section#products div.col-md-4, section#products div.col-md-2 {
  display:table;
}

.vertical-center{
  display: table-cell;
  vertical-align: middle;
}

#mtmws img, #app2sizer img, #wuzoom img{
  height:81px;
}

section#clients {
  text-align:center;
}

section#clients h4 {
  text-transform:uppercase;
  font-size:15px;
  font-weight:700;
  margin:10px 0 4px 0;
}

.bubbles {
  margin-bottom:40px;
}

.bubbles img {
  width:200px;
}

.bubbles h4 {
  font-size:22px;
  font-weight:500;
  text-transform:uppercase;
  margin:20px 0 10px 0;
}

.bubbles p {
  width:75%;
  margin:auto;
  font-size:17px;
  font-weight:300;
}

.bubbles p .btn {
  margin-top:20px;
}

section#brands {
  background:#ebebeb;
}

section#customers .head {
  background:#fff;
}

section#customers .head span{
  display:block;
  color:#004798;
  font-size:16px;
  font-weight:700;
  margin-top:10px;
}

section#customers i {
  position:absolute;
  left:30px;
  top:7px;
  font-size:30px;
}

#tw {
  background:#1ab7e9;
  text-align:right;
  transition:background 0.2s ease;
  padding-right:15px;
  margin-bottom:10px;
}

#tw:hover {
  background:rgba(26, 183, 233, 0.75);
}

#fb {
  background:#3b559f;
  text-align:right;
  transition:background 0.2s ease;
  padding-right:15px;
  margin-bottom:10px;
}

#fb:hover {
  background:rgba(59, 85, 159, 0.75);
}

#li {
  background:#0073b6;
  text-align:right;
  transition:background 0.2s ease;
  padding-right:15px;
  margin-bottom:10px;
}

#li:hover {
  background:rgba(0, 115, 182, 0.75);
}

#gl {
  background:#df4b32;
  text-align:right;
  transition:background 0.2s ease;
  padding-right:15px;
  margin-bottom:10px;
}

#gl:hover {
  background:rgba(223, 75, 50, 0.75);
}

footer {
  padding-bottom:40px;
  padding-top:10px;
}

footer ul {
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:16px;
}

footer nav ul li a {
  display:block;
  padding:3px 0;
}

footer ul li.head{
  font-size:24px;
}

footer ul li.head{
  margin-top:30px;
}

@media (min-width:992px) {
  footer ul li.head:nth-child(n+2){
    margin-top:30px;
  }
}

footer a{
  color:#fff;
}

footer a:hover {
  color:#fff;
}

ul.contact {
  margin-bottom:30px;
}

ul.contact li {
  padding:3px 0;
}

ul#legal {
  text-align:center;
  list-style-type:none;
  margin-top:20px;
  padding:0;
}

ul#legal li{
  display:inline-block;
  padding:0 10px;
}

footer .logo-inv{
  width:300px;
}